<!DOCTYPE html>
<html>
<head>
  <title>Student Database</title>
</head>
<body>
  <h1>Welcome to the Student Database</h1>
  <ul>
    <li><a href="/insert">Insert a Student</a></li>
    <li><a href="/update">Update a Student</a></li>
    <li><a href="/delete">Delete a Student</a></li>
    <li><a href="/display">Display Students</a></li>
  </ul>
</body>
</html>
